@use "@/styles/variables" as *;


.page.profile-section {
    background-color: $theme-bg !important;
    min-height: 100vh;
    .inner {
        max-width: $container-md;
        main {
            display: flex;
            gap: $space-md;
            .left {
                min-width: $container-xs;
                display: flex;
                flex-direction: column;
                gap: $space-md;
            }
        }
    }
}