@use "@/styles/variables" as *;

.main-header {
    background-image: url('/images/Landingbg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
    .inner {
        max-width: $container-lg;
        display: flex;
        justify-content: space-between;
        padding: $space-lg 0;

        h1 {
            width: 136px;
        }
        .right {
            display: flex;
            align-items: center;
            
            ul{
                display: flex;
            }
        }
        .btn_radius {
            border: 1px solid white;
        }
    }
}