@use "@/styles/variables" as *;

.main-header {
  background-image: url("/images/Landingbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $space-lg 0;
    padding-left: 40px;

    img {
      width: 136px;
    }
  }
}
